<nb-card>
    <nb-card-header class="align-items-center d-flex justify-content-between">
        
        <div>
            <p-menu #menu [popup]="true" [model]="SelectedItemsMenu"></p-menu>
            <button  [disabled]="selectedarticles.length == 0" nbButton (click)="menu.toggle($event)"><nb-icon icon="menu-outline"></nb-icon></button>
        </div>
        <button (click)="OpenAddForm()" nbButton>Ajouter</button>
    </nb-card-header>
    <nb-card-body>

        <p-table [alwaysShowPaginator]="false" [paginator]="true" [rows]="10" [columns]="cols" [value]="articles" [(selection)]="selectedarticles" dataKey="code"
        (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnselect($event)"
        [(contextMenuSelection)]="selectedArticle" [contextMenu]="cm" [resizableColumns]="true" [reorderableColumns]="true">
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th style="width: 3em">
                        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                    </th>
                    <th *ngFor="let col of columns"  [pSortableColumn]="col.field" pResizableColumn pReorderableColumn>
                        {{col.header}}
                        <p-sortIcon [field]="col.field"></p-sortIcon>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-article  let-columns="columns">
                <tr [pSelectableRow]="rowData" [pContextMenuRow]="rowData">
                    <td>
                        <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
                    </td>
                    <td *ngFor="let col of columns">
                        <ng-container *ngIf="col.field == 'prix_a' || col.field == 'prix_v'; else simple">
                                {{ article[col.field] | number:'1.2-2' }}
                        </ng-container>
                        <ng-template #simple>
                                {{ article[col.field] }}
                        </ng-template>
                    </td>
                </tr>
            </ng-template>
        </p-table>

    </nb-card-body>
</nb-card>

<p-contextMenu #cm [model]="items" (onHide)="clearSelected()"></p-contextMenu>