<div class="p-4">
    
    <h5>{{ article.code }}</h5>
    <div class="row">

        <div class="col">
            <span>Quantité :</span>
            <span>{{ article?.quantite }}</span>
        </div>

        <div class="col">
            <span>Désignation :</span>
            <span>{{ article?.designation }}</span>
        </div>
        
        <div class="col">
            <span>Prix d'achat :</span>
            <span>{{ article?.prix_a }}</span>
        </div>

        <div class="col">
            <span>Prix de vente :</span>
            <span>{{ article?.prix_v }}</span>
        </div>
    </div>

</div>