@import './themes';

@mixin nb-overrides() {
  nb-select.size-medium button {
    padding: 0.4375rem 2.2rem 0.4375rem 1.125rem !important;

    nb-icon {
      right: 0.41rem !important;
    }
  }
}

.nb-theme-default .overlay-backdrop {
  background-color: rgba(0, 0, 0, .75) !important;
}

.nb-theme-default nb-layout .layout .layout-container .content .columns nb-layout-column {
  padding: 1rem 1rem 0.5rem !important;
}

.nb-theme-default nb-layout-header nav {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
    0 1px 2px rgba(0, 0, 0, 0.24) !important;
}

.nb-theme-default nb-layout .layout .layout-container nb-sidebar.fixed,
.nb-theme-default nb-layout .layout .layout-container nb-sidebar .main-container-fixed {
  /* border-right: 1px solid lightgray; */
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
